table {
  border-collapse: collapse;
  width: 100%;
}

table, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ffbb62;
}

tr:hover {background-color: #78ffc7;}

body {
    background-color: rgb(234, 238, 183);
}