table,th, td {
    width: 30%;
  border-collapse: collapse;
  border: 2px solid rgb(8, 78, 2);
}

table, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #006118;
}

tr:hover {background-color: #78ffc7;}

body {
    background-color: rgb(234, 238, 183);
}